@import helper._

@(userForm: Form[pastData])(implicit flash: Flash,messages: Messages)

@views.html.main("Change Password"){
<div>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Change Password </div>
            <div class="panel-body">
                <div>
                    <span class="label label-danger">@flash.get("error")</span>

                </div>
                @helper.form(action = routes.ChangePassword.putPass()) {
                @helper.inputPassword(userForm("opass"),'_label->"Old Password :",'class->"form-control",'value->"Click to focus...",'placeholder->"password",'required->true)
                @helper.inputPassword(userForm("fpass"),'_label->"New Password :",'class->"form-control",'value->"Click to focus...",'required->true)
                @helper.inputPassword(userForm("rpass"),'_label->"Repeat Password :",'class->"form-control",'value->"Click to focus...",'required->true)

                <button type="submit" class="btn btn-primary" value="SUBMIT">SUBMIT</button>
                }

                <div class="pull-right">
                    <a href="logout" class="btn btn-info" role="button">LOG OUT</a>
                </div>

            </div>

        </div>
    </div>


</div>

}
